@charset "UTF-8";

* {
box-sizing: border-box;  
word-break: break-word;  
  body {
  margin:0 auto;
  font-family: Lato, 'Hiragino Kaku Gothic Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
    form{
      width: 100%;
      .container{
        display: flex;
        align-items: center;
        input{
          margin: 0 auto;
        }//input
        select{
          margin: 0 auto;
        }//select
        .select-btn {
          margin-right: 30px;
          margin-left: 30px;
          height: 35px;
          width: 35px;
        }  //select-btn
        .equals-sign {
          margin-right: 20px;
          margin-left: 20px;
        }//equals-sign
      } //container
      .cover{
        margin: 30px 70px;
        .calculation-btn {
          margin: 0 auto;
          width: 70px;
          height: 40px;
          text-align: center;
        }//calculation-btn
        .clear-btn {
          margin: 0 auto;
          width: 70px;
          height: 40px;
          text-align: center;
        }//clear-btn
      }//cover
    }//form
  }//body
}//*