@charset "UTF-8";

* {
box-sizing: border-box;  
word-break: break-word;  
  body {
  margin:0 auto;
  font-family: Lato, 'Hiragino Kaku Gothic Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
    #error{
      color: rgb(238, 45, 45);
    }
    form{
      width: 100%;
      .select-btn {
        margin-right: 30px;
        margin-left: 30px;
        height: 35px;
        width: 35px;
      }  //select-btn
      .equals-sign {
        margin-right: 20px;
        margin-left: 20px;
      }//equals-sign
        .calculation-btn {
          width: 70px;
          height: 40px;
          text-align: center;
        }//calculation-btn
        .clear-btn {
          width: 70px;
          height: 40px;
          text-align: center;
        }//clear-btn
    }//form
  }//body
}//*